.raise-request-container {
  max-width: 69%;
  margin: 2px auto;
  padding: 0;
}

.request-header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 8px;
}

.request-header h2 {
  color: #333;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  white-space: nowrap;
  font-family: sans-serif;
}

.request-header p {
  color: rgb(107, 103, 103);
  font-size: 22px;
  margin: 0;
  line-height: 1.5;
  font-family: sans-serif;
  margin-left: 90px;
}

.request-form {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
  border: 1px solid #eee;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  column-gap: 45px;
  row-gap: 20px;
  margin-bottom: 25px;
  margin-right: 20px;
}

.full-width {
  grid-column: span 2;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 18px;
  color: rgb(87, 75, 75);
  margin-bottom: 8px;
  font-weight: 400;
  font-family: sans-serif;
}

.form-group select {
  width: 105%;
  height: 65px;
  margin-top: 10px;

}

.form-group input,
.form-group select,
.form-group textarea {
  padding: 12px;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
  font-size: 14px;
  color: #333;
  outline: none;
  transition: border-color 0.2s;
  margin-right: 10px;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  border-color: #0b63ff;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #aaa;
}

.desc-header {
    display: flex;
    justify-content: space-between;
}

.char-count {
    font-size: 18px;
    color: #999;
}

.note {
    font-size: 17px;
    color: #777;
    margin-top: -10px;
    margin-bottom: 10px;
}

.file-input-wrapper {
    padding: 20px;
    border-radius: 8px;
    width: 98%;
    height: 30px;
    margin-left: -10px;
    margin-top: -15px;
}

.submit-request-btn {
  background-color: #0b63ff;
  color: white;
  border: none;
  padding: 24px 38px;
  border-radius: 6px;
  font-size: 19px;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submit-request-btn:hover {
  background-color: #0051e0;
}