.register-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f6f8fb;
  padding: 45px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.register-card {
  width: 650px;
  background: #ffffff;
  border-radius: 10px;
  padding: 20px 48px;
  box-shadow: 0 12px 30px rgba(20, 24, 40, 0.08),
              inset 0 1px 0 rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
}

.register-card h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 35px;
  font-weight: 600;
}

.register-card label {
  display: block;
  font-weight: 600;
  color: black;
  margin-top: 16px;
  font-size: 18px;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
}

.register-card input {
 margin-top: 8px;
  width: 100%;
  height: 55px;
  padding: 10px 26px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #c5c5c5;
  background: white;
  outline: none;
  transition: box-shadow 0.15s, border-color 0.15s;
  font-weight: bold;
  color: #878792;
}

.register-card input:focus,
.register-card select:focus {
  border-color: #aec7fc;
    background-color: rgb(231, 235, 245);
    color: black;

}

.register-btn2 {
  width: 102%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 65px;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  font-size: 19px;
  cursor: pointer;
  background: linear-gradient(180deg, #1479ff 0%, #0d63e8 100%);
  color: #fff;
}

.register-btn2:hover {
  background: #1e4fd8;
}

.login-text {
  text-align: center;
  margin-top: 18px;
  font-size: 19px;
}

.login-text span {
  color: #2563eb;
  cursor: pointer;
  font-weight: 500;
}

.login-link {
  color: #1e6bff;
  text-decoration: underline;
  font-weight: 600;
}